
<div style="text-align: center">
  <h1>welcome to <i class="fas fa-book"></i><b>Bookers</b> !!</h1>
  <p style="margin-bottom:5px">
    In <i class="fas fa-book"></i>Bookers,<br>
  
    you can share and exchange your opinions , inpressions , and emotions
    <br>
  
    about various books!
    <br>
  </p>
  <div><%= link_to"Log in" ,new_user_session_path, class: "btn btn-info"%></div><br>
  <div><%= link_to"Sign up" ,new_user_registration_path, class: "btn btn-success"%></div>
</div>