<%= render 'users/list', user: @user ,book: @book %>
<h2>Books</h2>
<% @books.each do |book| %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
      <td></td>
      <td><%= book.title%></td>
      <td><%= book.body %></td>
    </tbody>
  </table>
<% end %>